* {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}
.container {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid black;
    height: 50vh;
    padding: 10px;
}